h1, h2 {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.music-card {
    position: relative;
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 16px;
    margin: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.parent-container {
    display: flex;
    justify-content: space-between;
}

p {
    margin: 20px;
    display: flex;
    justify-content: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.status-badge, .track-title, .track-artist, #track-title, #track-artist {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.about {
    margin: 10px;
    justify-content: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 35px;
    display: block;
}

.gradient-red {
    background: linear-gradient(to right, #ff0000, #5e0303);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.button {
    #background-color: #b00404;
    #color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
}

.footer {
    text-align: center;
}